# Project configuration
PROJECT_NAME="Blood Aid"

# Database configuration
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="mysecretpassword"
POSTGRES_DB="blood_platform"
POSTGRES_PORT="5432"

# Redis configuration
REDIS_PORT="6379"
REDIS_PASSWORD="" # Optional, leave empty if no password is required

